In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
food = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [4]:
# getting the shape of the dataframe
food.shape

(60943, 12)

In [5]:
# getting sum of null values per column
food.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
# Dropping null values
food.dropna(inplace = True)

In [7]:
# Ensure that null values have beeen dropped.
food.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [8]:
# getting the shape AFTER DROPPING NULL VALUES
food.shape

(57784, 12)

In [15]:
food.Item.value_counts()

Milk - Excluding Butter     1234
Eggs                        1096
Miscellaneous                883
Cereals - Excluding Beer     708
Oilcrops                     693
                            ...
Grand Total                  135
Animal Products              135
Vegetal Products             135
Sugar non-centrifugal        113
Population                    90
Name: Item, Length: 119, dtype: int64

In [10]:
food.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57784 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     57784 non-null  int64
 1   Area          57784 non-null  object
 2   Item Code     57784 non-null  int64
 3   Item          57784 non-null  object
 4   Element Code  57784 non-null  int64
 5   Element       57784 non-null  object
 6   Unit          57784 non-null  object
 7   Y2014         57784 non-null  float64
 8   Y2015         57784 non-null  float64
 9   Y2016         57784 non-null  float64
 10  Y2017         57784 non-null  float64
 11  Y2018         57784 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.7+ MB

In [17]:
# number of unique items in the Item column
food.Item.nunique()

119